
.rmain {
 
  width: 100%;
  height: 100vh;
  background-color:#000000;
  /* background-image: url('https://img.freepik.com/premium-photo/white-arch-with-tropical-maldives-resort-sea-background_1339-168554.jpg?w=2000'); */
  background-size: cover; /* This property scales the image to cover the entire element */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  /* You can add more background properties as needed */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  
}
.rbase{
  
  width: 850px;
  height: 700px;

  border: 0ch;

  background-color: #000000;
}

.rnavlnavbar{
  width: 100%;
  height: 6rem;
  background-color: rgb(27, 27, 30);
 
}


.rbody{
  background-color: rgb(0, 1, 1);
  height: 600px;
  width: 100%;
  display: flex;
 
}
.rimage{
  width: 50%;
  height: 510px;
  background-image: url('https://dynamic-media-cdn.tripadvisor.com/media/photo-o/29/07/d5/77/rambagh-palace-exterior.jpg?w=1200&h=-1&s=1');
  background-size: cover; /* This property scales the image to cover the entire element */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  /* You can add more background properties as needed */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.rcontent{
  width: 50%;
  height: 510px;
background-color: rgb(255, 255, 255);
  background-size: cover; /* This property scales the image to cover the entire element */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  /* You can add more background properties as needed */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
border: 1px;
}

.rnameContent{
  width: 100%;
  
  background-color: whitesmoke;
  display: flex;
  justify-content: center; /* Horizontally center the child */
  align-items: center; /* Vertically center the child */
}
.rwrapper{
  width: 50px;
  width: 400px;
  justify-content: center;
  padding-top: 50px;
}

.rsiteName{
  margin-bottom: 20px;
  justify-content: center;
  padding-left: 120PX;
}
.rsiteName1{
  margin-bottom: 20px;
  justify-content: center;
  padding-left: 140PX;
}
.rsiteName2{
  margin-bottom: 10px;
  justify-content: center;
 
  display: flex;
  justify-content: center;
 
}
.rsiteName2 a {
  text-decoration: none; /* Remove underline */
}
.rl{
/* margin-right: 10px; */
background-color: #ffffff;
border: 1px solid #febb02;
color: rgb(0, 0, 0);
justify-content: center;
width: 70px;
min-height: 40px;
text-align: center;
padding-top: 10px;
font-weight: bold;
border-radius: 5px 0 0 5px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
text-decoration: none;
}
.rr{
/* margin-right: 10px; */
width: 85px;
padding-top: 10px;
background-color: #000000;
color: rgb(251, 246, 246);
height: 47px;
font-weight: bold;
justify-content: center;
text-align: center;
border-radius: 0 5px 5px 0; /* top-left top-right bottom-right bottom-left */
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}









.register {
  height: 450;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:whitesmoke; /* Set  desired background color */
}
  
.rContainer {
  animation: slideUp ease-in-out 350ms;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  display: flex;
  flex-direction: column; /* Set the direction to column */
  align-items: center; /* Center form elements horizontally */
  background-color: whitesmoke;
  margin: 20px;
}
  
.rInput {
  height: 45px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #febb02;
  margin-bottom: 10px; /* Add some space between input fields */
 
 
  width: 100%; /* Make input fields take up full width */
  background-color: #ffffff;
}
  
  .rButton {
    width: 100%;
    border: none;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .rButton:disabled{
    background-color: #03243c8c;
    cursor: not-allowed;
  }






  .navbar{
    height: 50px;
    background-color: #000000;
    display: flex;
    justify-content: center;
  }
  
  .lnavContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
   background-color: rgb(0, 0, 0);
   padding-top: 10px;
   height: 100%;
  }
  
  .rLogo{
    font-weight: 500;
    padding-left: 170px;
    text-decoration: none;
  }
  
  .lnavButton{
    border: 1px solid rgb(79, 79, 79);
    padding: 10px;
    border-radius: 10px;
    color: #ffffff;
    background-color: #000000;
   
  }
  .lnavItems{
margin: 10px;
padding-right: 120px;
display: flex;
align-items: center;
gap: 10px;
  }

 
  /* animation */
  @keyframes slideUp {
    from {
      transform: translateY(5px);
      opacity: 0;
    }
    to {
      transform: translateY(0px);
      opacity: 1;
    }
  }