.header {
  background-image: url("https://images4.alphacoders.com/900/900368.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
  height: 600px;
}

.headerShort {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
   
    
  }

  
  .headerContainer {
    width: 100%;
    max-width: 1500px;
    margin: 20px 0px 100px 0px;
  }
  
  .headerContainer.listMode {
    margin: 20px 0px 0px 0px;
  }
  
  .headerList {
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
    cursor: pointer;
  
  }
  
  .headerListItem {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    
  }
  .headerListItem {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease; /* Add a transition for smooth effect */
  }
  
  .headerListItem span {
    font-size: 20px;
  }
  .headerListItem:hover span,
  .headerListItem.hover span {
    font-weight: 500; /* Use the correct value without a unit */
  }
  
  .headerListItem:hover,
  .headerListItem.hover {
    color: #febb02;
    transform: scale(1.1); /* Apply zooming effect on hover */
  }
  
  
  .headerDesc {
    margin: 20px 0px;
  }
  
  .headerBtn {
    background-color: #0071c2;
    color: white;
    font-weight: 500;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .headerSearch {
    height: 80px;
    background-color: white;
    border: 3px solid #febb02;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1500px;
  }
  
  .headerIcon {
    color: lightgray;
  }
  
  .headerSearchItemheader {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .headerSearchInput {
    border: none;
    outline: none;
  }
  
  .headerSearchTextheader {
    color: lightgray;
    cursor: pointer;
  }
  
  .date {
    position: absolute;
    top: 50px;
    z-index: 2;
  }
  
  .options {
    z-index: 2;
    position: absolute;
    top: 50px;
    background-color: white;
    color: gray;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  }
  
  .optionItem {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }
  
  .optionCounter {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: black;
    
  }
  
  .headerBtn {
    width: 75px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #febb02;
    color: #000000;
    cursor: pointer;
    background-color: white;
  }
  .optionCounterButton{
    background-color: #fffcfc;
    width: 35px;
    height: 35px;
    color: #000000;
    border-radius: 5px;
    border: 1px solid #0862d1;
  }
  .optionCounterButton:disabled {
    cursor: not-allowed;
    
  }

  .headerTitle{
   
      font-size: 3em;
      animation-name: fade;
      animation-duration: 4s;
  
  }


  /* ---------- Animation --------------- */
@keyframes fade {
  0% {
      opacity: 0;
      margin-left: 3em;
  }
  100% {
      opacity: 1;
  }
}