.searchItem {
  animation: popUp ease-in-out 350ms;
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add box-shadow */
   
  }
  
  .siImg {
    width: 400px;
    height: 305px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .siDesc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 2;
  }
  
  .siTitle {
    font-size: 25px;
    color: #000305;
  }
  
  .siDistance {
    font-size: 17px;
  }
  
  .siTaxiOp {
    font-size: 17px;
    background-color: #008009;
    color: white;
    width: max-content;
    padding: 3px;
    border-radius: 5px;
  }
  
  .siSubtitle{
    font-size: 15px;
    color: rgb(174, 176, 176);
    font-weight: lighter;
    font-family:   Verdana, sans-serif;
  }
  
  .siFeatures{
    font-size: 17px;
  }
  
  .siCancelOp{
    font-size: 17px;
    color: #008009;
    font-weight: bold;
  }
  
  .siCancelOpSubtitle{
    font-size: 17px;
    color: #008009;
  }
  
  .siDetails {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between
  }
  
  .siRating{
    display: flex;
    justify-content: space-between
  }
  
  .siRating>span{
    font-weight: 500;
    margin-top: 10px;
  }
  .siRating>button{
   background-color: #003580;
   color: white;
   padding: 5px;
   font-weight: bold;
   border: none;
  }
  
  .siDetailTexts{
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .siPrice{
    font-size: 24px;
  }
  
  .siTaxOp{
    font-size: 17px;
    color: gray;
  }
  
  .siCheckButton{
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    padding: 10px 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  @keyframes popUp {
    from {
      transform: scale(0);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  /* @keyframes slideUp {
    from {
      transform: translateY(5px);
      opacity: 0;
    }
    to {
      transform: translateY(0px);
      opacity: 1;
    }
  } */